Options +FollowSymLinks
RewriteEngine On

# Send requests that are not for files or directories to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
